# Lists!

Here is some Python code about lists.

In [2]:
[5, 10, 15, 20, 25, 30]

[5, 10, 15, 20, 25, 30]

In [3]:
x = [5, 10, 15, 20, 25, 30]

In [4]:
type(x)

list

In [5]:
y = [5]

In [6]:
z = []

In [7]:
x

[5, 10, 15, 20, 25, 30]

In [8]:
x[3]

20

In [9]:
[2, 4, 6, 8, 10][2]

6

In [10]:
x

[5, 10, 15, 20, 25, 30]

In [11]:
type(x[0])

int

In [12]:
x[1+2]

20

In [13]:
y = 3

In [14]:
x[y]

20

In [15]:
x[77]

IndexError: list index out of range

In [16]:
len(x)

6

In [17]:
25 in x

True

In [18]:
"hello" in x

False

In [19]:
min(x)

5

In [20]:
max(x)

30

In [21]:
sum(x)

105

In [24]:
sorted([7, -4, 5, 24, -99, 88, 2457, 1])

[-99, -4, 1, 5, 7, 24, 88, 2457]

In [25]:
x

[5, 10, 15, 20, 25, 30]

In [27]:
sum(x) / len(x)

17.5

## List slices!!

In [30]:
x

[5, 10, 15, 20, 25, 30]

In [28]:
x[2:]

[15, 20, 25, 30]

In [31]:
x[1:4]

[10, 15, 20]

In [33]:
x[-2]

25

In [35]:
x[-2:]

[25, 30]

## Lists of strings

In [36]:
words = ["it", "was", "the", "best", "of", "times"]

In [38]:
words[0]

'it'

In [40]:
len(words)

6

In [41]:
sorted(words)

['best', 'it', 'of', 'the', 'times', 'was']

In [43]:
min(words)

'best'

In [45]:
max(words)

'was'

In [46]:
sum(words)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Lists within lists

In [48]:
data = [[1, 2, 3], [2, 4, 6], [4, 8, 12], [8, 16, 24]]

In [49]:
len(data)

4

In [51]:
data[0]

[1, 2, 3]

In [55]:
len(data[0])

3

In [56]:
row = data[3]

In [58]:
row[1]

16

In [61]:
data[3][1]

16

In [64]:
sorted([-5, 10, 15, 20])

[-5, 10, 15, 20]

## List comprehension

In [65]:
x

[5, 10, 15, 20, 25, 30]

In [67]:
[item * item for item in x]

[25, 100, 225, 400, 625, 900]

In [69]:
[item / 2 for item in x]

[2.5, 5.0, 7.5, 10.0, 12.5, 15.0]

In [71]:
words

['it', 'was', 'the', 'best', 'of', 'times']

In [72]:
[item.upper() for item in words]

['IT', 'WAS', 'THE', 'BEST', 'OF', 'TIMES']

In [73]:
[2, 3, 3, 4, 2, 5]

[2, 3, 3, 4, 2, 5]

In [75]:
[len(item) for item in words]

[2, 3, 3, 4, 2, 5]

In [77]:
[len(asdf) for asdf in words]

[2, 3, 3, 4, 2, 5]

In [80]:
["HELLO!" for item in words]

['HELLO!', 'HELLO!', 'HELLO!', 'HELLO!', 'HELLO!', 'HELLO!']

In [79]:
5

5

In [82]:
words

['it', 'was', 'the', 'best', 'of', 'times']

In [83]:
[item for item in words]

['it', 'was', 'the', 'best', 'of', 'times']

In [84]:
[item for item in words if len(item) == 2]

['it', 'of']

## Making lists from other kinds of data

In [85]:
text = "it was the best of times, it was the worst of times"

In [87]:
text[11:15]

'best'

In [88]:
text.split()

['it',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [90]:
words = text.split()

In [92]:
words

['it',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [94]:
words[3]

'best'

In [96]:
raw_str = "17,25,26,25,35,18,25,33,39,30,13,21,22,35,28,27,26,23,21,21,24,17,25,30,24,18,38,19,33,26,26,15,30,32,32,36,25,21,34,30,29,27,18,34,30,24,31,13,37,36,42,33,31,20,61,22,19,17,23,19,21,24,43,15,25,32,38,17,13,32,17,34,38,29,37,36,27"

In [97]:
max(raw_str)

'9'

In [99]:
type(raw_str)

str

In [101]:
str_list = raw_str.split(",")

In [103]:
max(str_list)

'61'

In [105]:
sum(str_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [107]:
type(str_list)

list

In [109]:
type(str_list[0])

str

In [110]:
int("1234")

1234

In [112]:
scores = [int(item) for item in str_list]

In [114]:
max(scores)

61

In [115]:
min(scores)

13

In [117]:
sum(scores)

2089

In [119]:
sum(scores) / len(scores)

27.12987012987013

## CSV files! sweet

In [120]:
import csv

In [125]:
dogs = list(csv.reader(open("dogs-of-nyc.csv")))

In [127]:
type(dogs)

list

In [129]:
type(dogs[100])

list

In [133]:
dogs[100]

['Stella',
 'F',
 'Akita',
 '1/7/2017',
 'WHITE',
 'BROWN',
 'BLACK',
 'Yes',
 'No',
 'Brooklyn',
 '11215']

In [134]:
dogs[0]

['dog_name',
 'gender',
 'breed',
 'birth',
 'dominant_color',
 'secondary_color',
 'third_color',
 'spayed_or_neutered',
 'guard_or_trained',
 'borough',
 'zip_code']

In [137]:
len(dogs)

81543

In [139]:
len(dogs[15])

11

In [141]:
dogs[4000][4]

'BROWN'

In [143]:
colors = [row[4] for row in dogs]

In [145]:
len(colors)

81543

In [149]:
colors[9000]

'BROWN'

In [150]:
black_colors = [item for item in colors if item == "BLACK"]

In [152]:
len(black_colors)

23578

In [154]:
len(black_colors) / len(dogs)

0.2891480568534393

In [156]:
other_colors = [item for item in colors if item != "BLACK"]

In [158]:
len(other_colors) + len(black_colors) == len(dogs)

True

In [159]:
len([row[4] for row \
     in list(csv.reader(open("dogs-of-nyc.csv"))) if row[4] == "BLACK"])

23578