# DMEP In-class Code July 20th, 2017

* "for" loops
* if/elif/else

## For loops

In [1]:
text = "it was the best of times, it was the worst of times"

In [2]:
words = text.split()

I want to write some code that display this:

    it
    was
    the
    best
    of
    times,
    it
    was
    the
    worst
    of
    times

In [4]:
for item in words:
    print(item)

it
was
the
best
of
times,
it
was
the
worst
of
times

In [6]:
item = words[0]
print(item)
item = words[1]
print(item)
item = words[2]
print(item)
item = words[3]
print(item)
item = words[4]
print(item)
item = words[5]
print(item)

it
was
the
best
of
times,

In [9]:
for item in words:
    yelling = item.upper()
    print(yelling)

IT
WAS
THE
BEST
OF
TIMES,
IT
WAS
THE
WORST
OF
TIMES

In [10]:
shopping = []

In [11]:
shopping.append("apples")

In [13]:
shopping

['apples']

In [14]:
shopping.append("flour")

In [15]:
shopping.append("sugar")

In [16]:
shopping.append("eggs")

In [17]:
shopping

['apples', 'flour', 'sugar', 'eggs']

our task: new list that contains the number of letters in each ingredient on my shopping list.

    [6, 5, 5, 4]

In [18]:
[len(item) for item in shopping]

[6, 5, 5, 4]

In [19]:
food_lengths = []
for item in shopping:
    food_lengths.append(len(item))

In [21]:
food_lengths

[6, 5, 5, 4]

In [22]:
shopping.extend(['cinnamon', 'butter', 'beer'])

In [24]:
shopping

['apples', 'flour', 'sugar', 'eggs', 'cinnamon', 'butter', 'beer']

## if/elif/else

In [29]:
word = "bear"

In [30]:
print("before if statement...")
if len(word) == 8:
    print("length is eight!")
    print("I'm so glad that string had eight characters")
    print("let's have a party! an eight-character party. ðŸŽ‰")
print("...after if statement")

before if statement...
...after if statement

In [45]:
temperature = 14

In [46]:
print("before if statement...")
if temperature > 25:
    print("wow really hot today huh?")
elif temperature > 15:
    print("it's very pleasant today!")
elif temperature > 5:
    print("kinda brisk!")
else:
    print("it's quite cold")
print("...after if statement")

before if statement...
kinda brisk!
...after if statement

In [47]:
temps = [12, 16, 24, 8, 42, 9, 23, 29, -2, 5, 8]

In [52]:
print("now beginning temperature broadcast!")
for item in temps:
    if item > 25:
        print("wow really hot today huh?")
    elif item > 15:
        print("it's very pleasant today!")
    elif item > 5:
        print("kinda brisk!")
    else:
        print("it's quite cold")
print("temperature broadcast complete.")

now beginning temperature broadcast!
kinda brisk!
it's very pleasant today!
it's very pleasant today!
kinda brisk!
wow really hot today huh?
kinda brisk!
it's very pleasant today!
wow really hot today huh?
it's quite cold
it's quite cold
kinda brisk!
temperature broadcast complete.

In [53]:
foo = "this is a test"

In [54]:
foo.find("test")

10

In [56]:
foo.find("blah")

-1

## Dictionaries!

In [57]:
president_states = {"Obama": "Hawaii",
 "Bush": "Texas",
 "Clinton": "Arkansas",
 "Trump": "New York"}

In [59]:
type(president_states)

dict

In [61]:
president_states["Obama"]

'Hawaii'

In [63]:
president_states["Clinton"]

'Arkansas'

In [65]:
a_president = "Clinton"
president_states[a_president]

'Arkansas'

In [67]:
president_states["Franklin"]

KeyError: 'Franklin'

In [68]:
shopping = {"apple": 2, "bag of flour": 1, "egg": 3, "bag of sugar": 1}

In [70]:
shopping["apple"]

2

In [71]:
"apple" in shopping

True

In [73]:
"banana" in shopping

False

In [75]:
president_states

{'Bush': 'Texas',
 'Clinton': 'Arkansas',
 'Obama': 'Hawaii',
 'Trump': 'New York'}

In [77]:
"New York" in president_states

False

In [79]:
shopping.keys()

dict_keys(['apple', 'bag of flour', 'egg', 'bag of sugar'])

In [81]:
shopping.values()

dict_values([2, 1, 3, 1])

In [83]:
for item in shopping.keys():
    print(item.upper())

APPLE
BAG OF FLOUR
EGG
BAG OF SUGAR

In [85]:
shopping.items()

dict_items([('apple', 2), ('bag of flour', 1), ('egg', 3), ('bag of sugar', 1)])

In [87]:
for item, value in shopping.items():
    print(item, value)

apple 2
bag of flour 1
egg 3
bag of sugar 1

In [89]:
shopping

{'apple': 2, 'bag of flour': 1, 'bag of sugar': 1, 'egg': 3}

In [90]:
shopping["stick of butter"] = 2

In [92]:
shopping

{'apple': 2,
 'bag of flour': 1,
 'bag of sugar': 1,
 'egg': 3,
 'stick of butter': 2}

In [93]:
shopping["cinnamon stick"] = 1

In [95]:
shopping

{'apple': 2,
 'bag of flour': 1,
 'bag of sugar': 1,
 'cinnamon stick': 1,
 'egg': 3,
 'stick of butter': 2}

In [96]:
shopping["apple"] = 4

In [98]:
shopping

{'apple': 4,
 'bag of flour': 1,
 'bag of sugar': 1,
 'cinnamon stick': 1,
 'egg': 3,
 'stick of butter': 2}

In [99]:
things = []

In [119]:
things.append("a")

In [121]:
things

['a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a']

In [132]:
user = {
    "name": "Allison",
    "city": "Brooklyn, NY, USA",
    "favorite_color": "blue",
    "pets": [
        "Shumai",
        "Althea"
    ]
}

In [133]:
user["name"]

'Allison'

In [134]:
user["city"]

'Brooklyn, NY, USA'

In [135]:
user["favorite_color"]

'blue'

In [137]:
type(user["pets"])

list

In [139]:
user["pets"]

['Shumai', 'Althea']

In [141]:
user["pets"][0]

'Shumai'

## Sets

In [142]:
countries = set()

In [143]:
countries.add("United States")

In [144]:
countries.add("China")

In [145]:
countries.add("Argentina")

In [146]:
countries.add("France")

In [147]:
countries

{'Argentina', 'China', 'France', 'United States'}

In [149]:
"United States" in countries

True

In [151]:
"Jupiter" in countries

False

In [153]:
for item in countries:
    print(item)

France
China
Argentina
United States

In [155]:
countries.add("France")

In [157]:
countries

{'Argentina', 'China', 'France', 'United States'}

In [159]:
temps = [12, 12, 12, 13, 11, 12, 12, 13, 14, 14, 15, 14, 13, 11]

In [161]:
set(temps)

{11, 12, 13, 14, 15}

In [163]:
list(set(temps))

[11, 12, 13, 14, 15]

In [165]:
countries[1]

TypeError: 'set' object does not support indexing

In [167]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [169]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

### Sets are faster than lists with `in`

In [176]:
numbers_list = list(range(100000000))

In [177]:
numbers_set = set(numbers_list)

In [185]:
99999999999999 in numbers_list

True

In [187]:
99999999999999 in numbers_set

False

In [190]:
sonnet_words = set(open("sonnets.txt").read().split())

In [193]:
"love" in sonnet_words

True

In [195]:
"tyrannosaurus" in sonnet_words

False

## Tuple

In [196]:
t = ("a", "b", "c", "d", "e")

In [197]:
t

('a', 'b', 'c', 'd', 'e')

In [199]:
type(t)

tuple

In [200]:
t[3]

'd'

In [201]:
t[-1]

'e'

In [203]:
t[1:3]

('b', 'c')

In [204]:
t.append("f")

AttributeError: 'tuple' object has no attribute 'append'

In [205]:
shopping

{'apple': 4,
 'bag of flour': 1,
 'bag of sugar': 1,
 'cinnamon stick': 1,
 'egg': 3,
 'stick of butter': 2}

In [207]:
shopping.items()

dict_items([('apple', 4), ('bag of flour', 1), ('egg', 3), ('bag of sugar', 1), ('stick of butter', 2), ('cinnamon stick', 1)])

In [208]:
tuple([1, 2, 3, 4, 5])

(1, 2, 3, 4, 5)

In [209]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

## join method of strings

In [210]:
text = "this is a test"

In [211]:
words = text.split()

In [236]:
words

['this', 'is', 'a', 'test']

In [215]:
" and ".join(words)

'this and is and a and test'

In [216]:
temp_str = "14,15,16,14,12,11,16,17,18,20,11"

In [219]:
f_temp = [int(val) * (9 / 5) + 32 for val in temp_str.split(",")]

In [221]:
','.join([str(val) for val in f_temp])

'57.2,59.0,60.8,57.2,53.6,51.8,60.8,62.6,64.4,68.0,51.8'